.voice-in-the-dark a {
  text-decoration: none;
}

.voice-in-the-dark {
  color: var(--heading-text-color);
  display: inline-block;
}

.timeswap .timeline1 {
    display: inline;
}
.timeswap .timeline1::before {
    content: '🌔 ';
}
.timeswap .timeline2::before {
    content: '🌖 ';
}

.timeswap .timeline2 {
    display: none;
}

.timeswap:hover .timeline1 {
    display: none;
}

.timeswap:hover .timeline2 {
    display: inline;
}

.timereverse-1 {
    background: -webkit-linear-gradient(rgba(47,85,154,1) 0%, rgba(96,125,178,1) 100%);
    background: -o-linear-gradient(rgba(47,85,154,1) 0%, rgba(96,125,178,1) 100%);
    background: linear-gradient(rgba(47,85,154,1) 0%, rgba(96,125,178,1) 100%); /* W3C */
}

.timereverse-2 {
    background: -webkit-linear-gradient(rgba(96,125,178,1) 0%, rgba(181,195,219,1) 100%);
    background: -o-linear-gradient(rgba(96,125,178,1) 0%, rgba(181,195,219,1) 100%);
    background: linear-gradient(rgba(96,125,178,1) 0%, rgba(181,195,219,1) 100%); /* W3C */
}

.timereverse-3 {
    background: -webkit-linear-gradient(rgba(181,195,219,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(rgba(181,195,219,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(rgba(181,195,219,1) 0%, rgba(255,255,255,1) 100%);
}

.timereverse-1, .timereverse-2, .timereverse-3 {
    padding: 5px;
}
