/*https://coolors.co/2f559a-b3262a-e46425-f5db12-5aadc5*/
:root {
  --main-color: #2f559a;
  --secondary-color: #e46425;
  --logo-text-color: #f5db12;
  --heading-text-color: #b3262a;
  --link-text-color: #2f559a;
  --link-visited-color: #5aadc5;
  --background-color: #fff;
  --body-text-color: #231f20;
}
