{{ if ge (.Date) (now.AddDate 0 -1 0) }}
{{ $rand :=  shuffle (seq 0 9) }}
<form
    method="POST"
    action="{{ .Site.Params.Staticman.endpoint }}{{ .Site.Params.Staticman.username }}/{{ .Site.Params.Staticman.repository }}/{{ .Site.Params.Staticman.branch }}/comments"
    class="pa4 black-80 mb4">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[entryId]" value="{{ .File.UniqueID }}">
    <div class="mb3">
        <label for="fields[name]" class="f6 b db mb2">Name <span class="normal black-60">(required)</span></label>
        <input name="fields[name]" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" placeholder="Your name">
        <small id="name-desc" class="f6 black-60 db mb2">Your name will be displayed against your comment</small>
    </div>
        <div class="mb3">
        <label for="fields[title]" class="f6 b db mb2">Title</label>
        <select name="fields[title]" class="input-reset ba b--black-20 pa2 mb2 db w-100">
            <option value="" selected disabled hidden>Select your title</option>
            <option value="Mrs">Mrs</option>
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Mx">Mx</option>
            <option value="Miss">Miss</option>
            <option value="Master">Master</option>
            <option value="Dr">Dr</option>
            <option value="Admiral">Admiral</option>
            <option value="Alpha">Alpha</option>
            <option value="Baron">Baron</option>
            <option value="Baroness">Baroness</option>
            <option value="Brigadier">Brigadier</option>
            <option value="Canon">Canon</option>
            <option value="Captain">Captain</option>
            <option value="Chief">Chief</option>
            <option value="Colonel Sir">Colonel Sir</option>
            <option value="Colonel">Colonel</option>
            <option value="Commander">Commander</option>
            <option value="Commodore">Commodore</option>
            <option value="Atari">Atari</option>
            <option value="Councillor">Councillor</option>
            <option value="Countess">Countess</option>
            <option value="Dame">Dame</option>
            <option value="Dude">Dude</option>
            <option value="Earl">Earl</option>
            <option value="Father">Father</option>
            <option value="Field Marshal Lord">Field Marshal Lord</option>
            <option value="General">General</option>
            <option value="Group Captain">Group Captain</option>
            <option value="Her Holiness">Her Holiness</option>
            <option value="His Holiness">His Holiness</option>
            <option value="His Own Divine Majesty">His Own Divine Majesty</option>
            <option value="Lackey">Lackey</option>
            <option value="Lady">Lady</option>
            <option value="Lieutenant Commander">Lieutenant Commander</option>
            <option value="Lieutenant">Lieutenant</option>
            <option value="Lord">Lord</option>
            <option value="Lt-Col">Lt-Col</option>
            <option value="Lt-General Sir">Lt-General Sir</option>
            <option value="Major-General">Major-General</option>
            <option value="Major">Major</option>
            <option value="Mother">Mother</option>
            <option value="Mother Superior">Mother Superior</option>
            <option value="Mother of Dragons">Mother of Dragons</option>
            <option value="MP">MP</option>
            <option value="Omega">Omega</option>
            <option value="Prince">Prince</option>
            <option value="Princess">Princess</option>
            <option value="Professor">Professor</option>
            <option value="Rabbi">Rabbi</option>
            <option value="Rear Admiral">Rear Admiral</option>
            <option value="Reverend">Reverend</option>
            <option value="Right Honourable Lord">Right Honourable Lord</option>
            <option value="Right Honourable">Right Honourable</option>
            <option value="Ruler of the Universe">Ruler of the Universe</option>
            <option value="Saviour of the Universe">Saviour of the Universe</option>
            <option value="Sir">Sir</option>
            <option value="Sister">Sister</option>
            <option value="Squadron Leader">Squadron Leader</option>
            <option value="The Baroness">The Baroness</option>
            <option value="The Countess of">The Countess of</option>
            <option value="The Countess">The Countess</option>
            <option value="The Duchess of">The Duchess of</option>
            <option value="The Duke of">The Duke of</option>
            <option value="The Earl of">The Earl of</option>
            <option value="The Earl">The Earl</option>
            <option value="The Elder One">The Elder One</option>
            <option value="The Honourable Mrs">The Honourable Mrs</option>
            <option value="The Honourable">The Honourable</option>
            <option value="The Lord ">The Lord </option>
            <option value="The Marchioness of">The Marchioness of</option>
            <option value="The Marquess of">The Marquess of</option>
            <option value="The Most Reverend Dr">The Most Reverend Dr</option>
            <option value="The Most Reverend">The Most Reverend</option>
            <option value="The Reverend Canon">The Reverend Canon</option>
            <option value="The Reverend">The Reverend</option>
            <option value="The Right Reverend Dr">The Right Reverend Dr</option>
            <option value="The Right Reverend Professor">The Right Reverend Professor</option>
            <option value="The Right Reverend">The Right Reverend</option>
            <option value="The Venerable">The Venerable</option>
            <option value="The Viscount">The Viscount</option>
            <option value="The Viscountess">The Viscountess</option>
            <option value="Very Reverend">Very Reverend</option>
            <option value="Viscount">Viscount</option>
            <option value="Viscountess">Viscountess</option>
            <option value="Wing Commander">Wing Commander</option>
            <option value="The Dread Pirate">The Dread Pirate</option>
            <option value="First of His Name, King of the Andals and the First Men, Lord of the Seven Kingdoms, and Protector of the Realm">First of His Name, King of the Andals and the First Men, Lord of the Seven Kingdoms, and Protector of the Realm</option>
            <option value="Other">Other</option>
        </select>
        <small id="title-desc" class="f6 black-60 db mb2">Your title may or may not be displayed against your comment</small>
    </div>
    <div class="mb3">
        <label for="fields[email]" class="f6 b db mb2">Email <span class="normal black-60">(required)</span></label>
        <input name="fields[email]" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="email" placeholder="Your email address">
        <small id="email-desc" class="f6 black-60 db mb2">Email will be hashed and used to get a <a class="link black-80 hover-blue" href="https://en.gravatar.com/">Gravatar</a></small>
    </div>
    <div class="mb3">
        <label for="fields[url]" class="f6 b db mb2">Where are you from? <span class="normal black-60">(optional)</span></label>
        <input name="fields[url]" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" placeholder="Share your site">
        <small id="url-desc" class="f6 black-60 db mb2">Where can I read more?</small>
    </div>
    <div class="mb3">
        <label for="fields{{$rand}}" class="f6 b db mb2">Don't fill this in <span class="normal black-60">(required)</span></label>
        <input name="fields{{$rand}}" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" placeholder="Leave me be">
        <small id="xarblon-desc" class="f6 black-60 db mb2">Honestly, leave this blank.</small>
    </div>
    <div class="mb3">
        <label for="fields[message]" class="f6 b db mb2">Comment</label>
        <textarea name="fields[message]" class="db border-box hover-black w-100 ba b--black-20 pa2 br2 mb2" placeholder="Your message."></textarea>
        <small id="comment-desc" class="f6 black-60">Feel free to use <a href="https://guides.github.com/features/mastering-markdown/#syntax" class="link black-80 hover-blue">Markdown</a>.</small>
        <small id="comment-desc" class="f6 black-60">Submissions are added as <a href="https://github.com/screenbeard/personal-chronicle/pulls" class="link black-80 hover-blue">Pull Requests on the git repository</a> and will not be published automatically. Please be patient.</small>
    </div>
    <input type="submit" class="f6 link dim br3 ba bw1 ph3 pv2 mb2 dib black fr" value="Submit">
</form>
{{ else }}
    <p>
        Comments are closed. You can still interact on
        <a href="https://github.com/screenbeard/personal-chronicle" class="link black-80 hover-blue">Github</a>,
        <a href="https://t.me/TheGeekoriumChat" class="link black-80 hover-blue">Telegram</a>,
        <a href="https://twitter.com/screenbeard" class="link black-80 hover-blue">Twitter</a> or
        <a href="https://discord.gg/MdRrxQC" class="link black-80 hover-blue">Discord</a>.
    </p>
{{ end }}
