<p>
    Comments are closed.
</p>
<p>
    You can interact with me direct
    <a href="https://codeberg.org/screenbeard/personal-chronicle" class="link black-80 hover-blue">on Codeberg (raise an
        Issue)</a>, or
    <a href="https://aus.social/@screenbeard" class="link black-80 hover-blue">on the Fediverse</a>.
</p>