{{ define "main" }}
{{ $paginator := .Paginate (where .Data.Pages.ByDate "Type" "in" .Site.Params.mainSections) }}
<main class="center mv4 content-width ph3">
    {{ range $paginator.Pages.ByDate }}
    <section class="post">
      <h2><a class="f3 fw6 heading-color heading-font no-underline post-title" href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p class="silver f6 mt1 mb4 post-meta">
        {{ if not .Date.IsZero }}<time>{{ .Date.Format "02 Jan 2006" }}</time> {{ end }}
        {{ if or .Params.tags .Params.categories .Params.series }} | {{ end }}
        {{ with .Params.categories }}
        categories: [ {{ range . }}<a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
        {{ end }}
        {{ with .Params.tags }}
        tags: [ {{ range . }}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
        {{ end }}
        {{ with .Params.series }}
        series: [ {{ range . }}<a href='{{ "/series/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
        {{ end }}
      </p>
      <div class="lh-copy post-content">{{ .Content }}</div>
    </section>
    {{ end }}
</main>
{{ partial "tag_cloud.html" . }}
{{ partial "site_search.html" . }}
{{ partial "pagination_reverse.html" . }}
{{ end }}
