{{ define "main" }}
<main class="center mv4 content-width ph3">
  <h2 class="f2 fw6 heading-font"><span class="secondary-color">#</span> {{ .Data.Term }}</h2>
  {{ .Content }}
  <ul class="list-pages">
    {{ range .Data.Pages.ByDate.Reverse }}
      <li class="lh-copy"><a href="{{ .Permalink | relURL }}" class="link f5">{{ .Title }}</a> - <time>{{ .Date.Format "02 Jan 2006" }}</time></li>
    {{ end }}
  </ul>
</main>
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}
</div>
{{ end }}
