{{ if gt .Paginator.TotalPages 1 }}
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
  {{ partial "back-to-top.html" . }}<br>
  <p class="mb0 mt2">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }} <br>
    {{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL | relURL }}">Next Posts</a>{{ end }}
    {{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL | relURL }}">Previous Posts</a>{{ end }}
  </p>
</div>
{{ end }}